name: Flutter Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get

      - name: Install & Configure FlutterFire
        run: |
          # 1. Activate the FlutterFire CLI tool
          flutter pub global activate flutterfire_cli
          # 2. Add the pub cache bin to the PATH for the rest of this shell session
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
          # 3. Configure the FlutterFire project to generate firebase_options.dart
          # FIX: ADDING --project FLAG WITH YOUR PROJECT ID
          flutterfire configure --yes --project propelex-1bc84
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build Android APK
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk