name: Flutter Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get

      - name: Install FlutterFire CLI (The Fix for 'command not found')
        run: flutter pub global activate flutterfire_cli

      # Add the Flutter global bin directory to the PATH for flutterfire command
      - name: Add Flutter Global Bin to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - name: Setup Firebase CLI (npm)
        run: npm install -g firebase-tools

      - name: Configure FlutterFire
        run: flutterfire configure --yes
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build Android APK
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk